body {
	background-color: #ffffff
	font-family: 'Raleway', sans-serif;
	font-family: 'Playfair Display', serif;
	padding-top: 120px;
}
h1 {
	font-size: 72px;
	font-weight: bold;
	text-align: center;
}
h2 {
	font-size: 38px;
	font-weight: bold;
	text-align: center;
}
p {
	text-align: center;
}
a {
	text-align: center;
}


